/* dashboard.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul ul {
    display: none;
    padding-left: 20px;
}

.sidebar li:hover > ul {
    display: block;
}

.content {
    flex: 1;
    padding: 20px;
}

/* สไตล์สำหรับหน้าเว็บ Dashboard */
.dashboard-container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #333;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
}

.content {
    flex: 1;
    padding: 20px;
}

/* สไตล์สำหรับฟอร์ม */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
